<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <script src="js/js/String.js"></script>
    <script src="js/js/$element/$element.js"></script>
    <script src="js/js/$element/$elementsCollection.js"></script>
    <script src="js/js/Component.js"></script>
    <script src="js/js/utilities.js"></script>

    <script src="js/js/models/Film.js"></script>
    <script src="js/js/views/FilmViews.js"></script>
    <script src="js/js/controllers/FilmController.js"></script>
</head>

<body>
    <?php dump('hi'); ?>
    coucou
</body>

</html>